@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@stackbit/components/styles/default.css';
@import 'theme.css';
@import 'https://fonts.googleapis.com/css2?family=Rakkas&display=swap';
